<a href="https://colab.research.google.com/github/Arifrasan/Handling-missing-values/blob/main/067_handling_missing_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Penjelasan Dataset
Dataset tersebut merupakan dataset mengenai data SD yang ada di Jakarta pada tahun 2015. Pada dataset terdapat kolom npsn, nama_sekolah, alamat, kecamatan, jumlah_siswa, jumlah_guru, kepala_sekolah, telepon, kondisi_lingkungan dan akreditasi. Dataset ini memiliki 2924 data. Dataset ini diambil dari https://data.jakarta.go.id/dataset/data-sekolah-sd-dki-jakarta/resource/e044db50-c06d-4ec0-a126-f5132a868699

In [ ]:
#menampilkan dataset dengan 5 data teratas
import pandas as pd
dataset = pd.read_csv ('https://data.jakarta.go.id/dataset/33629b01-6d7a-44d0-9f65-f46c142ecbf1/resource/e044db50-c06d-4ec0-a126-f5132a868699/download/Data-Sekolah-SD-Tahun-2015-DKI-Jakarta-xlsx.csv')
dataset.head(5)

,npsn,nama_sekolah,alamat,kecamatan,jumlah_siswa,jumlah_guru,kepala_sekolah,telepon,kondisi_lingkungan,akreditasi
0,6.9728746E7,SD Bangun Mandiri,Jl. H. Mursid No. 16,Pasar Minggu,NaN,15.0,RITA AMALIANI,(021) 7271788,Baik,Tidak Terakreditasi
1,1.0,SD Bina Bangsa,Jl. Tanjung Pura V,Kalideres,NaN,10.0,"Sopiah Watil Hayat, S.Psi",(021) 54396155,Baik,Tidak Terakreditasi
2,2.0109443E7,SD Bina Tunas Bangsa,Jl. Pluit Timur Blok MM,Penjaringan,NaN,33.0,"S.WILLIANA K, M.Pd",(021) 30031300,Baik,A
3,2.0112485E7,SD Gemala Ananda,Jl. Lebak Bulus III No. 93G,Cilandak,210.0,17.0,Jasmin Jasin,(021) 75908596,Baik,A
4,2.0109914E7,SD Islam An Najah,Jl. SMAN 64,Cipayung,147.0,10.0,Ramdhani rahmat,(021) 84302039,Baik,B

In [ ]:
#menampilkan missing value yang ada pada dataset
dataset.isna().sum()

npsn                   0
nama_sekolah           0
alamat                 0
kecamatan              0
jumlah_siswa          70
jumlah_guru            3
kepala_sekolah        83
telepon               30
kondisi_lingkungan     2
akreditasi             4
dtype: int64

In [ ]:
#imputing dataset dengan mengganti missing value pada salah satu kolom dengan data median
dataset['jumlah_siswa']= dataset['jumlah_siswa'].fillna(dataset['jumlah_siswa'].median())

In [ ]:
#imputing dataset dengan mengganti missing value pada salah satu kolom dengan data mean
dataset['jumlah_guru']= dataset['jumlah_guru'].fillna(dataset['jumlah_guru'].mean())

In [ ]:
#imputing dataset dengan mengganti missing pada salah satu kolom value dengan data modus
modus = dataset['kepala_sekolah'].mode()[0]
dataset['kepala_sekolah'] = dataset['kepala_sekolah'].fillna(modus)
dataset['kepala_sekolah'].isna().sum()

0

In [ ]:
#menghapus semua missing value dari dataset
dataset.dropna(inplace=True)
dataset.dropna(inplace=True, axis=1)

In [ ]:
#menampilkan missing value yang terbebas dari missing value
dataset.isna().sum()

npsn                  0
nama_sekolah          0
alamat                0
kecamatan             0
jumlah_siswa          0
jumlah_guru           0
kepala_sekolah        0
telepon               0
kondisi_lingkungan    0
akreditasi            0
dtype: int64

In [ ]:
#menampilkan 5 record dataset setelah dihandling
dataset.head(5)

,npsn,nama_sekolah,alamat,kecamatan,jumlah_siswa,jumlah_guru,kepala_sekolah,telepon,kondisi_lingkungan,akreditasi
3,2.0112485E7,SD Gemala Ananda,Jl. Lebak Bulus III No. 93G,Cilandak,210.0,17.0,Jasmin Jasin,(021) 75908596,Baik,A
4,2.0109914E7,SD Islam An Najah,Jl. SMAN 64,Cipayung,147.0,10.0,Ramdhani rahmat,(021) 84302039,Baik,B
5,2.0106322E7,SD ISLAM TAMAN QURANIYAH,Jl. Melati No. 100,Jagakarsa,145.0,7.0,Hj. NAPISAH MUHAMMAD,(021) 7822804,Baik,B
6,2.0177801E7,SD Islam Tunas Mandiri,Jl. Tanjung Barat Raya No. 1,Jagakarsa,143.0,15.0,"H. Ali Zaini, M.Pd.I",(021) 78841154,Baik,Tidak Terakreditasi
7,2.0110202E7,SD IT Daarun Na'iim,Jl. Semanan Raya No. 27,Kalideres,162.0,16.0,Dra. Mardianah,(021) 5402113,Baik,A